{
  "root": true,
  "extends": "standard-with-typescript",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console":"warn",
    "no-prototype-builtins": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/method-signature-style": "off",
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "import/export": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-explicit-any": [
      "warn"
    ],
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-throw-literal": "off"
  },
  "overrides": [
    {
      "files": [
        "docs/*.ts"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": [
        "tests/**/*.spec.ts"
      ],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ]
}
